* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@keyframes bonjing {
    0% {
        transform: translate(-110%) rotate(0);
    }
    100% {
        transform: translate(0%) rotate(360deg);
    }
}
body {
    height: 100vh;
    background: #adfde3;
    font-size: 15px;
    line-height: 1.6;
    
}
.bonjing {
    width: 500px;
    height: 500px;
    z-index: -1;
    background: #000;
    border-radius: 50%;
    animation: bonjing 5s ease infinite;
}
.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 60%;
    border-radius: 13px;
    background: white;
    border: 5px solid thistle;

}
.container form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.container form .input-cont input {
    display: inline-block;
    border-radius: 5px;
    border: 0 0 6px 0 white;
    text-align: center;

}
.container form .input-cont label {
    display: block;
    text-align: center;
}
.container form legend {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}